body,.mainContent,.topBarContent,.affix-week,.ivu-affix,.menu-tab,.menu {
    background-color: #121212       !important;
    height: 45px                      !important;
}
body {
    line-height: 1.2                  !important;
}
.schedule-time-list .i-hot,.schedule-table-list .schedule-table-cont,.mainContent,
.topBarContent,.menu-tab,.nav-right .nav-right-item,.menu-item,.date,.schedule-time-list,
.affix-gmt,.schedule-table-title {
    color: #efefef                  !important;
}
.nav {
    border: none                      !important;
}
.schedule-container,.schedule-header-menu,.affix-week,.week-btn-bg,.week-btn,.schedule-time-list,
.affix-gmt,.schedule-table-title,.schedule-table-list,.bg-grey,.left-schedule,.left-schedule>div,
.right-class,.class-header,.class-body,.tabs-body,.ivu-spin,.ive-spin-large,.ivu-spin-fix,
.day-schedule-container {
    background-color: #2E2E2E       !important;
    border-color: #2e2e2e           !important;
}
.schedule .schedule-header .schedule-header-menu {
    border-radius: 20px 20px 0 0      !important;
}
.schedule-gmt-title, .schedule-table-title,ol li.date-box .hour,.seconds,.user-name {
    color: #FEC68A                  !important;
}
.tabs-body,.memo-div {
    border: none                      !important;
}
.schedule-table-list .class-tb-2 {
    background-color: #FEC68A       !important;
    color: #2b2b2b                  !important;
}
a.active {
    background-color: #474747       !important;
    border: none                      !important;
    border-bottom: 2px solid #FEC68A!important;
}
ul.nav {
    border-color: #474747           !important;
}
.schedule-footer {
    height: 20px                      !important;
    border: 2px solid #efefef       !important;
    border-top: none                  !important;
    border-radius: 0 0 20px 20px      !important;
}
.a,ul.nav,.nav-tabs {
    background-color: #2e2e2e       !important;
    border-radius: 20px 20px 0 0      !important;
}
table.table,.memo-div,.tabs-cont,.container,.tabs-body>div {
    border-radius: 20px 20px 20px 20px   !important;
}
.a:hover {
    color: #fec68a                  !important;
}
.container {
    padding: 0                        !important;
    padding-right: 20px               !important;
}
.day-schedule-container .right-class .class-body .nav .nav-tabs .a {
    color: #efefef                  !important;
}
.attendance-btn-disabled,.attendance-btn-active,.attendance-btn-success {
    width: 140px                      !important;
    background-image: none            !important;
    color: #FEC68A                  !important;
    text-transform: uppercase         !important;
    background-color: #2e2e2e       !important;
    border-radius: 20px               !important;
    transition: all 0.1s ease-in      !important;
}
.attendance-btn-disabled:hover,.attendance-btn-active:hover,.navchilds,
table.table,.tabs-body>div {
    background-color: #474747       !important;
}
.bg-grey {
    background-color: #474747       !important;
    border: 2px solid #2e2e2e       !important;
    border-radius: 4px                !important;
}
.attendance-tooltip .ivu-tooltip-inner,.ivu-tooltip-inner>div,.ivu-spin-dot {
    background-color: #FEC68A       !important;
}
.ivu-tooltip-inner {
    padding: 0                        !important;
}
.ivu-tooltip-inner>div {
    max-width: 250px                  !important;
    min-height: 34px                  !important;
    padding: 8px 12px                 !important;
    color: #fff                     !important;
    text-align: left                  !important;
    text-decoration: none             !important;
    border-radius: 4px                !important;
}
.ivu-tooltip-arrow {
    border-top-color: #FEC68A       !important;
}
.schedule-time-list,.schedule-table-list,affix-gmt,.schedule-gmt-title {
    border-color: #2e2e2e           !important;
}
.schedule-container>div:first-child>:last-child,.schedule-container,
.left-schedule>div:first-child>:last-child,.left-schedule,
.left-schedule>div:first-child,.ivu-spin,.ive-spin-large,.ivu-spin-fix,
.day-schedule-container {
    border-bottom-left-radius: 20px   !important;
}
.schedule-container>div:last-child>:last-child,.schedule-container,
.ivu-spin,.ive-spin-large,.ivu-spin-fix,.day-schedule-container,.day-schedule-container,
.right-class,.class-body,.tabs-body {
    border-bottom-right-radius: 20px  !important;
}
.arrow-btn {
    background-color: #474747       !important;
    border-radius: 50%                !important;
    color: #fec68a                  !important;
}
.navchilds li,.user-name {
    color: #fec68a                  !important;
    font-family: sans-serif           !important;
}
.navchilds {
    border-radius: 4px               !important;
}
.topBarContent .nav-right .navchilds,.menu-tab,div.mainContent,.menu-tab {
    -webkit-box-shadow: none         !important;
    box-shadow: none                 !important;
    border: none                     !important;
}
.logo {
    display: none                    !important;
}
.menu>svg {
    margin-right: 20px               !important;
    min-width: 25px                  !important;
}
.icon-jinggao:before {
    color: white                   !important;
}
.icon-bannerzuojiantou:before {
    margin-right: 15px               !important;
}
.arrow-btn {
    max-width: 35px                  !important;
    max-height: 35px                 !important;
    white-space: nowrap              !important;
}
.schedule-table-list,.schedule-table-cont,.i-class-warnning-btn {
    font-size: 16px                  !important;
}
.class-body {
    margin-right: 20px               !important;
}
.stds {
    background-color: #6E6E6E      !important;
    border-radius: 20px              !important;
    padding: 10px                    !important;
}
.stds>div {
    color: #F7F7F7                 !important;
}
.stds-info {
    background-color: transparent    !important;
    border: none                     !important;
}
.stds-info-item {
    color: inherit                   !important;
}