.jandi{
    color: #AAAAAA;
    border-width: 2px;
}
.jandi:focus {
    border: 2px solid #fec68a;
    background-color: #121212;
    border-color: #fec68a;
    color: white;
}
.jandi:hover {
    color: #fec68a;
    border: 2px solid #fec68a;
}