.jandi{
    color: #AAAAAA;
    border-width: 2px;
}
.jandi:focus {
    background-color: rgb(70, 70, 70);
    border: 2px solid rgb(190, 185, 20);
    color: white;
}
.jandi:hover {
    color: rgb(190, 185, 20);
    border: 2px solid rgb(190, 185, 20);
}